@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookListRazer</h1>
    <p>A basic web app to showcase basic CRUD operations using asp.net</p>
</div>
